Repository matthieugi/chat-copilot, changes with the labels that .github/labeler.yml gives for each.
All labels: webapp, webapi, dependencies, deployment, documentation, github actions

.github/labeler.yml:

# Add 'webapp' label to any change within the 'webapp' directory
webapp:
  - webapp/**/*

# Add 'webapi' label to any change within the 'webapi' directory
webapi:
  - webapi/**/*

# Add 'dependencies' label to any change of the 'webapp/yarn.lock' file
dependencies:
  - webapp/yarn.lock

# Add 'deployment' label to any change within the 'deploy' directory
deployment:
  - scripts/deploy/**/*

# Add 'documentation' label to any change of '.md' files
documentation:
  - "**/*.md"

# Add 'github actions' label to any change within the '.github/workflows' directory
"github actions":
  - .github/workflows/**/*

Fetch AAD authentication info from backend (#427)
  .github/workflows/copilot-build-images.yml
  .github/workflows/copilot-test-e2e.yml
  docker/webapp/Dockerfile.nginx
  scripts/Configure.ps1
  scripts/configure.sh
  scripts/deploy/README.md
  scripts/deploy/deploy-webapp.ps1
  scripts/deploy/deploy-webapp.sh
  webapi/Controllers/MaintenanceController.cs
  webapp/.env.example
  webapp/src/App.tsx
  webapp/src/Constants.ts
  webapp/src/checkEnv.ts
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/views/BackendProbe.tsx
  webapp/src/index.tsx
  webapp/src/libs/auth/AuthHelper.ts
  webapp/src/libs/auth/TokenHelper.ts
  webapp/src/libs/hooks/useChat.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
  webapp/tests/utils.ts
Labels: webapp, webapi, deployment, documentation, github actions

BREAKING CHANGE: Update WebApi routes for security and RESTful best practices (#417)
  webapi/Controllers/ChatArchiveController.cs
  webapi/Controllers/ChatController.cs
  webapi/Controllers/ChatHistoryController.cs
  webapi/Controllers/ChatMemoryController.cs
  webapi/Controllers/ChatParticipantController.cs
  webapi/Controllers/DocumentController.cs
  webapi/Controllers/MaintenanceController.cs
  webapi/Controllers/ServiceInfoController.cs
  webapi/Extensions/IAsyncEnumerableExtensions.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Request/EditChatParameters.cs
  webapi/Models/Request/ExecutePlanParameters.cs
  webapi/Models/Response/ChatArchive.cs
  webapi/Models/Response/ChatArchiveEmbeddingConfig.cs
  webapi/Models/Response/CreateChatResponse.cs
  webapi/Models/Response/ImageAnalysisResponse.cs
  webapi/Models/Response/ServiceInfoResponse.cs
  webapi/Options/ChatArchiveSchemaInfo.cs
  webapi/Services/AzureContentSafety.cs
  webapi/Services/IContentSafetyService.cs
  webapi/Services/MaintenanceMiddleware.cs
  webapi/Skills/ChatSkills/SemanticMemoryRetriever.cs
  webapi/appsettings.json
  webapp/src/App.tsx
  webapp/src/components/chat/chat-list/ChatList.tsx
  webapp/src/components/chat/tabs/DocumentsTab.tsx
  webapp/src/components/header/settings-dialog/SettingsDialog.tsx
  webapp/src/components/open-api-plugins/PluginGallery.tsx
  webapp/src/components/views/BackendProbe.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/models/ChatArchive.ts
  webapp/src/libs/models/ServiceInfo.ts
  webapp/src/libs/services/ChatArchiveService.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/libs/services/DocumentImportService.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
Labels: webapp, webapi

Fix artifact path in plugin deployment workflow (#449)
  .github/workflows/copilot-deploy-plugins.yml
Labels: github actions

Fix route for processing plans (#455)
  webapp/src/libs/services/ChatService.ts
Labels: webapp

Update plugin deploy workflow name (#445)
  .github/workflows/copilot-deploy-plugins.yml
Labels: github actions

Add Support for deployment slots in deployment scripts (#446)
  scripts/deploy/deploy-webapi.ps1
  scripts/deploy/deploy-webapi.sh
  scripts/deploy/deploy-webapp.ps1
  scripts/deploy/deploy-webapp.sh
Labels: deployment

Fix Copy and Paste error in plugins deployment scripts (#447)
  .github/workflows/copilot-deploy-plugins.yml
  scripts/deploy/deploy-plugins.ps1
  scripts/deploy/deploy-plugins.sh
Labels: deployment, github actions

Make deploy-plugins.sh executable (#448)
  scripts/deploy/deploy-plugins.sh
Labels: deployment

Adding plan error as bot response message (#443)
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapp/src/components/chat/plan-viewer/PlanDialogView.tsx
  webapp/src/libs/hooks/useChat.ts
Labels: webapp, webapi

Miscellaneous fixes (#450)
  tools/importdocument/Program.cs
  webapi/Extensions/ServiceExtensions.cs
  webapp/src/libs/services/ChatService.ts
Labels: webapp, webapi

Fix global document retrieval and citations (#457)
  webapi/Controllers/DocumentController.cs
  webapi/Extensions/ISemanticMemoryClientExtensions.cs
  webapi/Options/DocumentMemoryOptions.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/SemanticMemoryRetriever.cs
Labels: webapi

Fix hanging when status is RequiresUpgrade (#460)
  webapi/Controllers/MaintenanceController.cs
  webapp/src/App.tsx
  webapp/src/components/views/BackendProbe.tsx
Labels: webapp, webapi

Update deployment template with the correct param name (#451)
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: deployment

Volatile memory singleton for memory "migration" (#476)
  webapi/Controllers/MaintenanceController.cs
  webapi/Services/MemoryMigration/ChatMigrationMonitor.cs
  webapi/Services/SemanticKernelProvider.cs
  webapp/src/components/views/BackendProbe.tsx
Labels: webapp, webapi

Modify deployment scripts to serve static files from web service (#377)
  .github/workflows/copilot-build-backend.yml
  .github/workflows/copilot-deploy-backend.yml
  .github/workflows/copilot-deploy-environment.yml
  .github/workflows/copilot-deploy-frontend.yml
  scripts/deploy/README.md
  scripts/deploy/deploy-azure.ps1
  scripts/deploy/deploy-azure.sh
  scripts/deploy/deploy-memorypipeline.ps1
  scripts/deploy/deploy-memorypipeline.sh
  scripts/deploy/deploy-webapi.ps1
  scripts/deploy/deploy-webapi.sh
  scripts/deploy/deploy-webapp.ps1
  scripts/deploy/deploy-webapp.sh
  scripts/deploy/main.bicep
  scripts/deploy/main.json
  scripts/deploy/object.txt
  scripts/deploy/package-webapi.ps1
  scripts/deploy/package-webapi.sh
  webapp/template.swa-cli.config.json
Labels: webapp, deployment, documentation, github actions

Fix error loading user on refresh (#493)
  webapp/src/index.tsx
Labels: webapp

Fix fatal issues with Azure deployment templates (#513)
  scripts/deploy/deploy-azure.ps1
  scripts/deploy/deploy-azure.sh
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: deployment

Refactor Stepwise Planner handler, added logic to allow use of stepwise plan result as bot response (#514)
  webapi/Models/Response/BotResponsePrompt.cs
  webapi/Models/Response/PlanExecutionMetadata.cs
  webapi/Models/Response/SemanticDependency.cs
  webapi/Options/PlannerOptions.cs
  webapi/Options/PromptsOptions.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/appsettings.json
  webapp/src/components/chat/prompt-dialog/PromptDialog.tsx
  webapp/src/components/chat/prompt-dialog/stepwise-planner/StepwiseThoughtProcessView.tsx
  webapp/src/libs/models/BotResponsePrompt.ts
  webapp/src/libs/models/PlanExecutionMetadata.ts
Labels: webapp, webapi

Fix deployment when using OpenAI (as opposed to AOAI) (#519)
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: deployment

Make deploying the web searcher plugin optional (#517)
  scripts/deploy/README.md
  scripts/deploy/deploy-azure.ps1
  scripts/deploy/deploy-azure.sh
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: deployment, documentation

Remove /healthz call + use token when calling /maintenanceStatus (#495)
  webapp/src/components/views/BackendProbe.tsx
  webapp/src/libs/services/BaseService.ts
  webapp/src/libs/services/MaintenanceService.ts
Labels: webapp

Make deploy-webapi do all it needs to by default (#524)
  .github/workflows/copilot-build-backend.yml
  .github/workflows/copilot-deploy-backend.yml
  .gitignore
  scripts/deploy/deploy-webapi.ps1
  scripts/deploy/deploy-webapi.sh
  scripts/deploy/package-webapi.ps1
  scripts/deploy/package-webapi.sh
  webapp/src/libs/services/BaseService.ts
Labels: webapp, deployment, github actions

Refactor docker support and add web-searcher image (#501)
  .github/workflows/copilot-build-images.yml
  docker/docker-compose.yaml
  docker/memorypipeline/.env.example
  docker/memorypipeline/Dockerfile
  docker/plugins/web-searcher/.env.example
  docker/plugins/web-searcher/Dockerfile
  docker/webapi/.env.example
  docker/webapp/Dockerfile.nginx
Labels: github actions

Fix for cognitive services API version (#508)
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: deployment

add frontend client ID
  .github/workflows/copilot-deploy-infra.yml
Labels: github actions

add appsettings file
  .gitignore
Labels: none
